# --- System & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# --- Python / Backend ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
*.sqlite3
*.db

# --- Flutter / Mobile ---
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugin-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/ephemeral/

# --- Env variables / Secrets ---
.env
*.pem