# --- System & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Python / Backend ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
*.sqlite3
*.db

# --- Flutter / Mobile ---
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugin-dependencies
mobile/.packages
mobile/build/
mobile/.pub-cache/
mobile/.pub/

# --- Env variables / Secrets ---
.env
*.pem